.ServHead {
    margin-top: 40px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
}

.ServText h1 {

    margin-left: 15%;
    padding-top: 40px;
    font-size: 40px;
    
}

.ServText h2 {

    margin-left: 15%;
    padding-top: 10px;
    font-size: 30px;
    list-style-type: circle;
}

.ContainerText {
padding-bottom: 50px;

}

